<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
  <title>Flask User Authentication</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
  <header class="bg-blue-500 text-white py-5">
    <div class="container mx-auto px-2 ">
      <h1 class="text-2xl font-semibold"><a href="http://localhost:5000">Flask Auth API</a></h1>
    </div>
  </header>
  <section class="container mx-auto px-4 py-8">
    {% block content %}{% endblock %}
  </section>
</body>
</html>

